/* Emergency Call css  */
.emergency-call {
    background-image: url('../../images/images.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    color:#fff;
    padding: 50px 0;
}

.emergency-call::before {
    position:absolute;
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #000;
    opacity: .9;
    z-index: -1;
}
.emergency-content i {
    background: #fff;
    display: inline-block;
    color: rebeccapurple;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 60px;
}
.calltoaction-img {
    display: flex;
    justify-content: center;
}
.calltoaction-img img {
    width: 120%;
}
.TelePhone {
    margin: 10px 0;
}
.TelePhone h3 {
    border: 1px dashed #fff;
    display: inline-block;
    padding: 15px;
}

/* Media Query added  */

@media only screen and (max-width:480px) {
    .calltoaction-img {
        margin-top: 23px;
    }
}