/* Footer section design  */
.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}
.footer-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 18px;
}
.footer img {
    width: 140px;
}

/* footer media query  */

@media only screen and (max-width:480px) {
    .footer {
        text-align: center;
    }
    .footer img {
        margin:30px 0;
    }
}