.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}
.footer-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 18px;
}
.footer img {
    width: 140px;
}